@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.navbar nav{
    position: auto;
    z-index: 99;
    width: 100%;
    background: #242526;
  }
  
  .navbar nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .navbar .wrapper .nav-links{
    display: inline-flex;
  }
  
  .navbar .nav-links li{
    list-style: none;
  }
  
  .navbar .nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .navbar .nav-links li a:hover{
    background: #3A3B3C;
  }
  
  .navbar .nav-links .mobile-item{
    display: none;
  }
  
  .navbar .nav-links .drop-menu{
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  
  .navbar .nav-links li:hover .drop-menu,
  .navbar .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  
  .navbar .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  
  .navbar .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  
  .navbar .mega-box .content{
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  
  .navbar .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  
  .navbar .content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar .content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
  }
  
  .navbar .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  
  .navbar .row .mega-links li{
    padding: 0 20px;
  }
  
  .navbar .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  
  .navbar .row .mega-links li a:hover{
    color: #f2f2f2;
  }
  
  .navbar .wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .navbar .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  .logout-btn {
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.5px;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 9px 15px;
    color: #fff;
    transition: background 0.2s;
  }
  .logout-btn:hover {
    background: #15803d; /* Tailwind's green-700 */
    color: #fff;
  }
  
  @media screen and (max-width: 970px) {
    .navbar .wrapper .btn{
      display: block;
    }
  
    .navbar .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
  
    /* custom scroll bar */
    .navbar ::-webkit-scrollbar {
      width: 10px;
    }
  
    .navbar ::-webkit-scrollbar-track {
      background: #242526;
    }
  
    .navbar ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }
  
    .navbar #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
  
    .navbar #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
  
    .navbar #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
  
    .navbar .nav-links li{
      margin: 15px 10px;
    }
  
    .navbar .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
  
    .navbar .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
  
    .navbar #showDrop:checked ~ .drop-menu,
    .navbar #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
  
    .navbar .nav-links .desktop-item{
      display: none;
    }
  
    .navbar .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
  
    .navbar .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }
  
    .navbar .drop-menu li{
      margin: 0;
    }
  
    .navbar .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
  
    .navbar .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
  
    .navbar .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
  
    .navbar .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
  
    .navbar .mega-box .content .row:nth-child(1),
    .navbar .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
  
    .navbar .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
  
    .navbar .row .mega-links li{
      margin: 0;
    }
  
    .navbar .content .row header{
      font-size: 19px;
    }
  }
  
  .navbar nav input{
    display: none;
  }
  
  .navbar .body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  
  .navbar .body-text div{
    font-size: 45px;
    font-weight: 600;
  }
